body{
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(15, 67, 110, 0.5);
}
header{
    border-bottom: 1px solid green;
    background-color: rgba(47, 190, 183, 0.8);
    padding:10px ;
}
header p {
    margin: 0;
    font-size: 1.6rem;
}
input{
    padding: 5px;
}
button{
    margin-top: 5px;
}
section{
    width: 215;
    height: 180;
    margin: 30px 10px;
    padding: 20px;
    display: inline-block;
    background-color: crimson;
    border-radius: 20px;
}
.add-section{
    background-color: aqua;
}
.sub-section{
    background-color: cornsilk;
}
.mult-section{
    background-color: aqua;
}
.divide-section{
    background-color: cornsilk;
}

.grad{
    background-image: radial-gradient(blue, orange);
    text-align: center;
}

.drop-down ul{
    list-style: none;
    display: none;
    font-family: 'Roboto', sans-serif;
}
.drop-down p:hover .drop-down ul{
    display: inline-block;
}
.drop-down li{
    list-style: none;
    width: 120px;
}

.invert{
    background-color: #FFF;
}
.drop-downs ul{
    display: none;
    font-family: 'Roboto', sans-serif;
    
}
.drop-head{
    text-align: center;
}
.drop-list{
    list-style: none;
    display: none;
    bottom: 15px;
    line-height: 2rem;
}
.drop-list button{
    width: 20px;
    height: 20px;
}
.drop-list li{
    display: inline-block;
}
.drop-list:hover{
    display: inline-block;
    margin-top: 20px;
}
.drop-head:hover .drop-list{
    display: inline-block;
    width: 50px;
}


footer{
    margin-top: 200px;
    background-color: #FFF;
    padding: 20px;
}
